@font-face {
  font-family: 'Kelson';
  src: url('../fonts/KelsonSans-Bold.ttf');
  font-weight: bold
}

html, body {
  margin: 0;
  height: 100%;
}

.columns {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.left {
  grid-column: 1;
  background-color: #020524;
}

.right {
  grid-column: 2 / 4
}

.container {
  margin: 30% 100px 0 100px;
}

.input {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

h1.sign-in {
  color: white;
  margin: 0 0 20px 0;
  font-family: 'Kelson';
}

.input-blue {
  color: azure;
  font-size: 14px;
  padding: 14px;
  border: 0 solid #fff;
  margin-bottom: 10px;
  border-radius: 1px;
  font-family: Roboto;
  background-color: rgba(44, 46, 74, 0.9);
}

#user-photo {
  width: 96px;
  height: 96px;
  display: block;
  border-radius: 2px;
  margin: 0 auto 20px auto;
}